.chatting {
  display: flex;
  height: calc(100vh - 85px);
  flex-direction: column;
}

.chatting__date {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.356);
  align-self: center;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

.chatting__partner,
.chatting__me {
  height: 50px;
  display: flex;
  padding: 10px 0;
}

.chatting__img,
.chatting__img img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 15px;
}

.chatting__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.chatting__text {
  display: flex;
  align-items: flex-end;
}

.chatting__name {
  margin-bottom: 10px;
}

.chatting__bubble {
  max-width: 50vw;
  padding: 10px;
  background-color: var(--black);
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 14px;
  color: var(--light-color);
}

.chatting__time {
  margin: 0 5px;
  font-size: 12px;
}

.chatting__me {
  justify-content: flex-end;
}

.chatting__bubble-me {
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
}

.chat-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
}

.chat-input input {
  box-sizing: border-box;
  width: 80vw;
  height: 30px;
  border-radius: 30px;
  border: 1px solid var(--main-color);
  margin: 0 10px;
  padding: 0 20px;
}

.chat-input__submit {
  width: 30px;
  height: 30px;
  background-color: var(--black);
  border: none;
  border-radius: 50%;
  color: white;
}
