.first-page {
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - 20px);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #09131e;
  animation: fadeOut 2s linear forwards;
}

.first-page img {
  filter: invert(100%);
}

.login {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 50px 0;
}

.login-info__welcome {
  font-size: 22px;
  margin-bottom: 20px;
}

.login-info p {
  width: 300px;
  font-size: 16px;
  color: var(--main-color);
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 80%;
  height: 40px;
  padding: 5px 5;
  font-size: 16px;
  border: none;
  font-weight: 600;
  color: var(--dark-color);
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;
  font-family: "Poor Story", sans-serif;
}

.login-form input:nth-child(2) {
  margin-bottom: 20px;
}

.login-form input::placeholder {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
}

.login-form input[type="submit"] {
  height: 40px;
  border: none;
  color: black;
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}

.find-account {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: var(--dark-color);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
