@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Ubuntu:wght@300;400;500&display=swap");

/* reset */
@import "reset.css";

/* variables*/
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/header.css";
@import "components/card.css";
@import "components/subtitle.css";
@import "components/nav.css";
@import "components/second-header.css";

/* pages */
@import "pages/login.css";
@import "pages/friends.css";
@import "pages/find.css";
@import "pages/more.css";
@import "pages/settings.css";
@import "pages/chatting.css";

body {
  font-family: "Poor Story", sans-serif;
  letter-spacing: 0.7px;
  font-weight: 600;
  color: black;
  padding-bottom: 60px;
  height: calc(100vh - 80px);
}

header,
main {
  padding: 0 20px;
}
