@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --bg-color: #d99d90;
  --content-color: #8f261f;
  --footer-bg-color: #1c422b;
  --footer-content-color: #f4a15d;
  --border: 3px solid var(--content-color);
  --md-fontsize: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
}

.header__title,
.header__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
}

.header__title {
  width: 50%;
  background-color: #711423;
}

.header__copyright {
  width: 50%;
  background-color: #0f2417;
  color: white;
}

header > span {
  font-size: 44px;
  position: absolute;
  left: calc(50% - 22px);
  top: -22px;
  transition: transform linear 1s;
  color: white;
}

header > span:hover {
  transform: rotate(1turn);
}

main {
  padding: 0 20px 20px 20px;
  background-color: var(--bg-color);
}

main::-webkit-scrollbar {
  display: none;
}

nav {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px;
}

.nav__column {
  display: flex;
  align-items: center;
  color: var(--content-color);
  cursor: pointer;
}

.nav__column:hover {
  color: white;
}

.nav__column span {
  font-size: var(--md-fontsize);
  font-weight: 600;
  margin-left: 5px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  row-gap: 15px;
}

.project-card {
  display: grid;
  color: var(--content-color);
  grid-template:
    "classification classification" 60px
    "title title" 100px
    "field btn" 80px / 1fr 1fr;
}

.project-card > div:nth-child(1),
.project-card > div:nth-child(2) {
  border-top: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}

.project-card > div:nth-child(3) {
  border: var(--border);
}

.project-card > div:nth-child(4) {
  border-top: var(--border);
  border-bottom: var(--border);
  border-right: var(--border);
}

.project-card__classification,
.project-card__title,
.project-card__field,
.project-card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.project-card__classification {
  grid-area: classification;
  font-size: var(--md-fontsize);
}

.project-card__title {
  grid-area: title;
  font-size: 30px;
  padding: 20px;
  letter-spacing: 1.5;
}

.project-card__field {
  grid-area: field;
  font-size: var(--md-fontsize);
}

.project-card__btn {
  grid-area: btn;
  font-size: var(--md-fontsize);
}

.project-card__btn > div {
  min-width: 200px;
  background: var(--content-color);
  color: var(--bg-color);
  padding: 5px 6vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-content-color);
  padding: 0 20px 90px 20px;
}

.footer-nav > .nav__column {
  color: var(--footer-content-color);
}

.footer-nav > .nav__column:hover {
  color: white;
}

.press {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
}

.press__card {
  border-top: 2px solid var(--footer-content-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.press__title {
  padding-top: 20px;
  font-size: 28px;
}

.press__content {
  font-size: var(--md-fontsize);
}

.press__card:hover {
  color: white;
}

@media screen and (min-width: 1024px) {
  body {
    width: 100%;
  }

  main {
    box-sizing: border-box;
    width: 60vw;
    height: 100%;
    position: fixed;
    overflow: auto;
    scrollbar-width: none;
  }

  header {
    height: 100%;
    width: 70px;
    flex-direction: column;
    left: 60vw;
  }

  .header__title,
  .header__copyright {
    width: 100%;
    height: 50%;
    writing-mode: vertical-rl;
    font-size: 30px;
    font-weight: 600;
  }

  header > span {
    top: calc(50% - 22px);
  }

  .project-card {
    grid-template:
      "classification title field" 100px
      "classification title btn" 100px / 60px 1fr 300px;
  }

  .project-card > div {
    border: var(--border);
  }

  .project-card > div:nth-child(1),
  .project-card > div:nth-child(2) {
    border: var(--border);
    border-right: none;
  }

  .project-card > div:nth-child(3) {
    border: var(--border);
  }

  .project-card > div:nth-child(4) {
    border: var(--border);
    border-top: none;
  }

  .project-card__classification span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .project-card__title {
    font-size: 40px;
    justify-content: flex-start;
  }

  .project-card__btn > div {
    padding: 5px 30px;
  }

  footer {
    margin-left: calc(60vw + 70px);
  }

  .press {
    gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(150px, 200px);
  }
}

.header__title:hover {
  color: white;
}

.project-card:hover {
  color: white;
}

.project-card:hover > div {
  border-color: white;
}

.project-card:hover .project-card__btn > div {
  background-color: white;
}
