header {
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

header a {
  position: relative;
}

.header__icons img {
  margin-left: 15px;
  cursor: pointer;
}

.header__dot {
  position: absolute;
  bottom: 10px;
  right: -15px;
}
