.subtitle {
  display: flex;
  justify-content: space-between;
  color: var(--main-color);
  font-size: 14px;
  padding: 10px 0;
  border-top: 2px solid var(--light-color);
}

.subtitle__column {
  display: flex;
}

.subtitle__column i {
  margin-left: 5px;
}
