.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.card__column {
  display: flex;
  align-items: center;
}

.card__title {
  font-size: 16px;
  font-weight: 500;
}

.card__column img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 40%;
  margin-right: 15px;
}

.card__column:last-child {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card__time {
  font-size: 14px;
  margin-bottom: 5px;
}

.card__badge {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: tomato;
  border-radius: 50%;
  color: white;
}

.card--lg {
  border-bottom: 1px solid var(--light-color);
}

.card--md img {
  width: 55px;
  height: 55px;
}

.card--sm img {
  width: 50px;
  height: 50px;
}
