@mixin btn {
  color: $black;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 20px 80px;
  border: 1.5px solid $black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    background-color: $black;
    color: white;
  }
  @content;
}

@mixin subtitle {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

@mixin sanserif($screen : lg) {
  font-family: 'Cormorant Garamond', serif;
  @if $screen == 'lg' {
    font-size: 36px;
    @content;
  } @else if  $screen =="sm" {
    font-size: 20px;
  }
}


@mixin responsive($screen) {
  @if $screen == 'md' {
    @media screen and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $screen == 'sm' {
    @media screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }
}