/* font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;1,400;1,500&display=swap");
/* variable */
/* mixins */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  z-index: 1;
}

.header a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #727272;
}

.header .header__left,
.header .header__logo,
.header .header__right {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #727272;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__left a {
  margin-left: 40px;
}

.header .header__right .header__basket {
  margin-left: 40px;
}

main {
  margin: 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.halves {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-bottom: 80px;
}

.halves .halves__img img {
  width: 100%;
  height: 100%;
}

.halves .halves__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 70px;
}

.halves .halves__detail .halves__text-and-btn {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.halves .halves__detail .halves__text-and-btn .halves__text p {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.2;
  text-align: center;
  font-size: 36px;
}

.halves .halves__btn {
  color: #414141;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.9;
  text-transform: uppercase;
  padding: 20px 85px;
  border: 1.5px solid #414141;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.halves .halves__btn:hover {
  background-color: #414141;
  color: white;
}

.halves--sm {
  width: 80%;
}

.halves--sm h5 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.first__bg {
  background-color: #f9dbbe;
}

.second__bg {
  background-color: #f3ede8;
}

.fourth__bg {
  background-color: #dee8e9;
}

.eighth__bg {
  background: #f9dbbe;
}
/*# sourceMappingURL=style.css.map */